/* Yleiset tyylit */
body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
}

/* Headerin tyylit */
.header h2, .header p {
    text-align: center;
    margin-bottom: 10px; 
    font-family:sans-serif;
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Navigaatio */
.nav-item p {
    margin: 20px;
    padding: 10;
}

.navbar-nav .nav-link {
    color: lightpink; /* Linkkien hover-väri */
    transition: color 0.3s ease, transform 0.3s ease; /* Sujuva värimuutos ja liike */
    margin: 10px;
    padding-top: 10px;
}

/* Pääsisällön tyylit */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Keskittää sisältö vaakasuunnassa */
    justify-content: center; /* Keskittää sisältö pystysuunnassa */
    height: 80vh; /* Määrittää, että kontaineri täyttää 80% näytön korkeudesta */
}

.main-content .row {
    margin-bottom: 30px; /* Lisää tilaa rivien väliin */
}

/* Kuvien ja tekstin välinen marginaali */
.mb-4 {
    margin-bottom: 26px; 
}

/* Esittelyteksti */
.esittelyteksti p {
    text-align: center;
    font-size: 1.1rem;
    margin: 0;
}

/* Kuvan tyylit */
.kuva2, .kuva4 {
    width: 50%; 
    height: auto;
    margin-top: 15px; 
    padding-top: 10px;
}

/* Sisältölaatikon tyylit */
.bg-white {
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.text-dark {
    color: #333; 
}

.shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.p-3 {
    padding: 15px;
}

.mb-4 {
    margin-bottom: 30px; 
}

/* Hover-efekti kuville */
.img-fluid:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover navigaatio linkeille */
.navbar-nav .nav-link:hover {
    color: #f7a7b7; /* Kirkas väri hoverilla */
}

.footer p {
    margin: 5px 0; 
    font-size: 1rem; 
    
}
.footer {
    background-color:rosybrown;
    padding: 20px;
    margin: 30px;
}
/* LinkedIn-painikkeen tyylit */
.my-custom-button {
    background-color: #0077b5; /* LinkedInin väri */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.my-custom-button:hover {
    background-color: #005e8c; 
}

.fade-in {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 2s ease; 
  }
  

  .fade-in.visible {
    opacity: 2;
    transform: translateY(0); 
  }
